---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ ocp4_workload_showroom_ai_assistant_name }}-config
  namespace: {{ _showroom_namespace }}
  labels:
    app.kubernetes.io/name: {{ ocp4_workload_showroom_ai_assistant_name }}
data:
  assistant-config.yaml: |
{{ lookup('file', 'assistant-config.yaml') | indent(4, first=True) }}
