---
- name: Prepare Variables
  ansible.builtin.include_tasks: prepare_variables.yaml

- name: Remove showroom AI assistant (single user)
  when: not _showroom_user_data.users is defined
  vars:
    _showroom_namespace: "{{ ocp4_workload_showroom_ai_assistant_namespace }}"
  ansible.builtin.include_tasks: remove_showroom_ai_assistant.yaml

- name: Remove showroom AI assistant (multi user)
  when: _showroom_user_data.users is defined
  vars:
    _showroom_user: "{{ _showroom_users_item.key }}"
    _showroom_namespace: "{{ ocp4_workload_showroom_ai_assistant_namespace }}-{{ _showroom_user }}"
  ansible.builtin.include_tasks: remove_showroom_ai_assistant.yaml
  loop: "{{ _showroom_user_data.users | dict2items }}"
  loop_control:
    loop_var: _showroom_users_item
    label: "{{ _showroom_users_item.key }}"
