---
- name: Prepare Variables
  ansible.builtin.include_tasks: prepare_variables.yaml

- name: Remove Showroom AI Assistant (single instance)
  vars:
    _showroom_namespace: "{{ ocp4_workload_showroom_ai_assistant_namespace }}"
  ansible.builtin.include_tasks: remove_showroom_ai_assistant.yaml

- name: Remove namespace
  kubernetes.core.k8s:
    host: "{{ ocp4_workload_showroom_openshift_api_url | default(omit) }}"
    api_key: "{{ ocp4_workload_showroom_openshift_api_token | default(omit) }}"
    validate_certs: false
    state: absent
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ ocp4_workload_showroom_ai_assistant_namespace }}"
  ignore_errors: true
  register: remove_namespace
  retries: 20
  delay: 3
  until: remove_namespace is not failed
